.venv
BlackJack with GUI.rar
.idea
__pycache__
To Dos.txt
gettyimages-182457915-2048x2048.jpg
PNB LOAN ACCOUNT DETAILS LnAccountDetailsRet17-06-2025.pdf
PNB LOAN ACCOUNT STATEMENT ON 17.6.2025 1765XXXXXXXXX070617-06-2025.pdf
table_background2.jpg